@import '~antd/dist/antd.css';

:global(html, body, #root) {
  height: 100%;
}

:global(body) {
  margin: 0;
}

/* global css variables */
:global(:root) {
  --home-page-bg: red;
}

.host {
  height: 100%;
}
